@tailwind base;
@tailwind components;
@tailwind utilities;



.new-scroll {
  --sb-track-color: #111827;
  --sb-thumb-color: #76aaff;
  --sb-thumb-color_hover: #4880fa;
  --sb-size: 12px;
}

.new-scroll::-webkit-scrollbar {
  width: var(--sb-size)
}

.new-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

.new-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  border: 3px solid var(--sb-track-color);
}

@supports not selector(::-webkit-scrollbar) {
  .new-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }


  /* &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #76aaff;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #4880fa;
  } */
}

:root {
  --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
}

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }

  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }

  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}